# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.Pac-Man.iml
# Datasource local storage ignored files
/../../../../../../../:\Reps\Image-Convertor\Pac-Man\.idea\.idea.Pac-Man\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
